.day {
    background-color:#EE4367;
    width: 60px;
    height: 60px;
    text-align: center;
    padding: 10px;
    color: #fff;
    h1 {
        font-family: GillSans-Bold;
        font-size: 22px;
        margin-bottom: 0;
    }

    h2 {
        font-family: GillSans-Light;
        font-size: 12px;
    }

}